html{
font-size: 62.5%;
background: url('./images/background\ webite.jpg')no-repeat;
background-position: center;
background-size: cover;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a{
  color: white;
  text-decoration: none;
}

#logo{
  width: 14%;
  height: 12%;
}
footer{
  background-color: #00a8c7;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}
/* alles hierboven is voor elke pagina*/ 
#icon{
  height: 2vh;
  width: 1vw;
}
#icon2{
  height: 2vh;
  width: vh;
}
#icon3{
  height: 2vh;
  width: 2vh;
}
#icon4{
  height: 2vh;
  width: 2vh;
}
/* alles hierboven is voor de kleine icons in de footer*/
/* homepage css */
#titel{
  text-align: center;
  font-size: 2.5rem;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
  border-style: solid;
  border-color: #263238;
}


.column img {
  opacity: 0.3; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 12;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.container {
  position: relative;
  display: none;
}

#titleimg{
  text-align: center;
  font-size: 2.5rem;
}

/*canvas page css*/
#infocanvas{
  display: flex;
  width: 82%;
  padding: 2rem;
  min-height: 30vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  border-radius: 25px;
  font-size: large;
}
#appslogo{
  width: 2%;
  height: 2%;
}
#Overmijdiv{
  display: flex;
  width: 80%;
  padding: 2rem;
  min-height: 30vh;
  align-items: center;
  
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  border-radius: 25px;
  font-size: medium;
}

#Foto-van-mij{
  width: 14vw;
  height: 45vh;
  border-radius: 20px;
  float: left;
}
#infomij{
width: 200px;
color: black;
float: right;
}

#infoLocatiegids{
  display: flex;
  width: 82%;
  padding: 2rem;
  min-height: 30vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  border-radius: 25px;
  font-size: large;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#video{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
#Textlocatiegids{
  display: flex;
}
#tekstgids{
  display: flex;
  font-size: large;

}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.specialpage1 *{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif !important;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background: url('./images/background\ webite.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: black !important;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: black !important;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
.specialpage2 *{
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  
  background: url('./images/background\ webite.jpg')no-repeat;
  background-position: center;
  background-size: cover;
}
.form-box{
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;

}
h2{
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.inputbox{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 35px 0 5px;
  color: #fff;
}
.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}
.forget{
  margin: -15px 0 15px ;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;  
}

.forget label input{
  margin-right: 3px;
  
}
.forget label a{
  color: #fff;
  text-decoration: none;
}
.forget label a:hover{
  text-decoration: underline;
}
button{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
.register{
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.register p a:hover{
  text-decoration: underline;
}
#linkcanv{
  text-decoration: underline;
  color: black;
}
#linkjesnavhidden{
  color: #00a8c7;
  text-decoration: none;
}
#infoeduarte{
  display: flex;
  width: 82%;
  padding: 2rem;
  min-height: 30vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  border-radius: 25px;
  font-size: large;
}