html{
background-color: lightsteelblue;
font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a{
  color: white;
  text-decoration: none;
}

#logo{
  width: 14%;
  height: 12%;
}
footer{
  background-color: #00a8c7;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}
/* alles hierboven is voor elke pagina*/ 
#icon{
  height: 2vh;
  width: 1vw;
}
#icon2{
  height: 2vh;
  width: vh;
}
#icon3{
  height: 2vh;
  width: 2vh;
}
/* alles hierboven is voor de kleine icons in de footer*/
/* homepage css */
#titel{
  text-align: center;
  font-size: 2.5rem;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
  border-style: solid;
  border-color: #263238;
}


.column img {
  opacity: 0.3; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 12;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.container {
  position: relative;
  display: none;
}

#titleimg{
  text-align: center;
  font-size: 2.5rem;
}

/*canvas page css*/
#infocanvas{
  display: flex;
  width: 75%;
  padding: 2rem;
  min-height: 30vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  border-radius: 25px;
}
#canvaslogo{
  float: center;
  width: 14%;
  height: 14%;

}